:root {
    --blue-custom: #5ea6e5;
    --loading-color: rgba(207, 246, 247, 0.92);
    --border-color: #c9c9c9;
    --color-red: rgb(241, 71, 71);
    --color-orange: rgb(241, 162, 71);
    --color-yellow: rgb(241, 238, 71);
    --color-purple: rgb(179, 71, 241);
    --color-blue: rgb(102, 204, 255);
    --color-gray: rgb(226, 226, 226);
    --color-green: rgb(57, 197, 187);
    --color-whitegray: rgb(241, 241, 241);
    --color-pink: rgb(237, 112, 155);
    --color-black: rgb(0, 0, 0);
    --color-darkblue: rgb(97, 100, 159);
    --color-heoblue: rgb(66, 90, 239);
    --btn-bg: var(--theme-color) !important;
    --scrollbar-color: var(--theme-color) !important;
    --border-style: 1px solid rgba(169, 169, 169, 0.7);
    /* 代码框行数背景色 */
    --hlnumber-bg: #282c34;
    /* 代码框顶部背景色 */
    --hltools-bg: #1c1c1c;
    /* 代码框背景色 */
    --hl-bg: #282c34;
  }
  
  /*彩色导航栏@import "//at.alicdn.com/t/c/font_4426032_wnvg24di0w.css";*/
  @import "//at.alicdn.com/t/c/font_4426032_wnvg24di0w.css";
  
  /* 平板尺寸自适应(不启用侧边栏宽度限制) */
  @media screen and (max-width: 900px) {
    .aside-content {
      max-width: none !important;
      padding: 0 5px 0 5px;
    }
  }
  
  /* 个人信息卡片背景图 */
  [data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://sourcebucket.s3.bitiful.net/img/aurora.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://tuchuang.voooe.cn/images/2023/02/28/aurora.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  /* 头像呼吸灯 */
  [data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
  }
  [data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
  }
  @keyframes huxi_light {
    0% {
      box-shadow: 0px 0px 1px 1px #9ff2d2;
    }
    50% {
      box-shadow: 0px 0px 5px 5px #9ff2d2;
    }
    100% {
      box-shadow: 0px 0px 1px 1px #9ff2d2;
    }
  }
  @keyframes huxi_dark {
    0% {
      box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
      box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
      box-shadow: 0px 0px 1px 1px #39c5bb;
    }
  }
  
  /* 个人信息Follow me按钮 */
  #aside-content > .card-widget.card-info > #card-info-btn {
      background-color: var(--theme-color) !important;
      border-radius: 30px;
      color: rgb(93, 76, 239); /*rgb(19, 118, 231);*/
  }
  #aside-content > .card-widget.card-info > #card-info-btn:hover {
    background-color: var(--text-bg-hover) !important;
  }
  
  /* Aplayer字体 */
  #article-container .aplayer {
    font-family: var(--global-font) !important;
  }
  
  /* 背景图片链接输入框placeholder*/
  input#pic-link::-webkit-input-placeholder {
    color: rgb(150, 150, 150);
  }
  
  input#pic-link {
    width: 82%;
    border-radius: 30px;
    border: 1px solid var(--theme-color) !important;
    padding: 5px 10px 5px 10px;
    line-height: 2;
    outline: 1px solid var(--theme-color) !important;
  }
  
  /* heo 加载动画头像 */
  .loading-img {
    background: url(https://tuchuang.voooe.cn/images/2023/01/02/avatar.webp)
      no-repeat center center;
    background-size: cover;
  }
  
  /* heo 夜间模式加载背景色 */
  [data-theme="dark"] {
      --loading-color: rgba(25, 25, 25, 0.92) !important;
  }
  
  /* 霓虹灯颜色渐变 */
  #site-name,
  #site-title,
  #site-subtitle,
  #post-info,
  .author-info__name,
  .author-info__description {
    transition: text-shadow 1s linear !important;
  }
  
  /* 调节字体显示栏目 */
  #swfs {
    display: flex;
    flex-wrap: wrap;
  }
  .swf {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    /* 字体选择框边界由js指定 */
    /* border: 2px solid var(--border-color); */
    border-radius: 10px !important;
    margin: 10px;
  }
  
  .swf:hover {
    text-decoration: none !important;
    background: var(--text-bg-hover) !important;
  }
  
  /* 主题色选择 */
  input[name="colors"] {
    margin-right: 15px;
    min-width: 1rem;
    height: 1rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
  }
  #red {
    border: 3px solid var(--color-red);
  }
  #orange {
    border: 3px solid var(--color-orange);
  }
  #yellow {
    border: 3px solid var(--color-yellow);
  }
  #green {
    border: 3px solid var(--color-green);
  }
  #blue {
    border: 3px solid var(--color-blue);
  }
  #purple {
    border: 3px solid var(--color-purple);
  }
  #pink {
    border: 3px solid var(--color-pink);
  }
  #heoblue {
    border: 3px solid var(--color-heoblue);
  }
  #darkblue {
    border: 3px solid var(--color-darkblue);
  }
  #black {
    border: 3px solid var(--color-black);
  }
  #blackgray {
    border: 3px solid var(--color-blackgray);
  }
  #purple:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-purple);
    background-color: var(--color-purple);
  }
  #red:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-red);
    background-color: var(--color-red);
  }
  #orange:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: var(--color-orange);
  }
  #yellow:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-yellow);
    background-color: var(--color-yellow);
  }
  #green:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-green);
    background-color: var(--color-green);
  }
  #blue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-blue);
    background-color: var(--color-blue);
  }
  #pink:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-pink);
    background-color: var(--color-pink);
  }
  #heoblue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-heoblue);
    background-color: var(--color-heoblue);
  }
  #darkblue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-darkblue);
    background-color: var(--color-darkblue);
  }
  #black:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-black);
    background-color: var(--color-black);
  }
  #blackgray:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-blackgray);
    background-color: var(--color-blackgray);
  }
  
  /* root伪类指定全局颜色 */
  :root {
    --blue-custom: #5ea6e5;
    --loading-color: rgba(207, 246, 247, 0.92);
    --border-color: #c9c9c9;
    --color-red: rgb(241, 71, 71);
    --color-orange: rgb(241, 162, 71);
    --color-yellow: rgb(241, 238, 71);
    --color-purple: rgb(179, 71, 241);
    --color-blue: rgb(102, 204, 255);
    --color-gray: rgb(226, 226, 226);
    --color-green: rgb(57, 197, 187);
    --color-whitegray: rgb(241, 241, 241);
    --color-pink: rgb(237, 112, 155);
    --color-black: rgb(0, 0, 0);
    --color-darkblue: rgb(97, 100, 159);
    --color-heoblue: rgb(66, 90, 239);
    --btn-bg: var(--theme-color) !important;
    --scrollbar-color: var(--theme-color) !important;
    --border-style: 1px solid rgba(169, 169, 169, 0.7);
    /* 代码框行数背景色 */
    --hlnumber-bg: #282c34;
    /* 代码框顶部背景色 */
    --hltools-bg: #1c1c1c;
    /* 代码框背景色 */
    --hl-bg: #282c34;
  }
  
  /* 滚动条样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: var(--theme-color) !important;
  }
  
  /* 代码框底部滚动条 */
  #article-container figure.highlight > ::-webkit-scrollbar-thumb {
    background-color: #35393f !important;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    ) !important;
    border-radius: 2em !important;
  }
  
  /* 字体引入 */
  @font-face {
    font-family: YSHST;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: MiSans;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: HYTMR;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/HYTangMeiRen55W.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: LXGW;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: TTQHB;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/甜甜圈海报字体.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: Consolas_1;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: ZhuZiAWan;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
    font-display: swap;
  }
  
  /* 特定部件字体调用 */
  div#menus {
    font-weight: bold !important;
  }
  h1#site-title {
    font-size: 3em !important;
    font-weight: bold !important;
  }
  a.article-title,
  a.blog-slider__title,
  a.categoryBar-list-link,
  h1.post-title {
    font-weight: bold !important;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zhongbiao::before {
    color: #f7c768;
  }
  
  /* 解决artitalk的图标问题 */
  #uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
  }
  
  /* 滚动显示的标题居中 */
  center#name-container {
    position: absolute !important;
    width: fit-content !important;
    left: 42% !important;
    /* transform: translateX(-50%) !important; */
    /* transform: translateY(-100%) !important; */
  }
  @media screen and (max-width: 768px) {
    center#name-container {
      display: none;
    }
  }
  
  /* 去掉蓝色条 */
  /* #nav *::after{
      background-color: transparent!important;
  } */
  
  /* 子菜单横向展示 */
  #nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
  }
  /* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
  .menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -95px;
  }
  .menus_items .menus_item:nth-child(3) .menus_item_child {
    left: -103px;
  }
  .menus_items .menus_item:nth-child(4) .menus_item_child {
    left: -102px;
  }
  .menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -117px;
  }
  .menus_items .menus_item:nth-child(6) .menus_item_child {
    left: -133px;
  }
  .menus_items .menus_item:nth-child(7) .menus_item_child {
    left: -105px;
  }
  
  /* 置顶滚动圆角 */
  .blog-slider__img img {
    border-radius: 20px !important;
  }/* root伪类指定全局颜色 */
  
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  
  /* #page-header:not(.not-top-img):before {
   background-color: rgba(0, 0, 0, 0.5) !important;
  }  */
  
  /* 滚动条样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: var(--theme-color) !important;
  }
  
  /* 代码框底部滚动条 */
  #article-container figure.highlight > ::-webkit-scrollbar-thumb {
    background-color: #35393f !important;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    ) !important;
    border-radius: 2em !important;
  }
  
  /* 字体引入 */
  @font-face {
    font-family: YSHST;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: MiSans;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: HYTMR;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/HYTangMeiRen55W.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: LXGW;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: TTQHB;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/甜甜圈海报字体.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: Consolas_1;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: ZhuZiAWan;
    src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
    font-display: swap;
  }
  
  /* 特定部件字体调用 */
  div#menus {
    font-weight: bold !important;
  }
  h1#site-title {
    font-size: 3em !important;
    font-weight: bold !important;
  }
  a.article-title,
  a.blog-slider__title,
  a.categoryBar-list-link,
  h1.post-title {
    font-weight: bold !important;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zhongbiao::before {
    color: #f7c768;
  }
  
  /* 解决artitalk的图标问题 */
  #uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
  }
  
  /* 滚动显示的标题居中 */
  center#name-container {
    position: absolute !important;
    width: fit-content !important;
    left: 42% !important;
    /* transform: translateX(-50%) !important; */
    /* transform: translateY(-100%) !important; */
  }
  @media screen and (max-width: 768px) {
    center#name-container {
      display: none;
    }
  }
  
  /* 去掉蓝色条 */
  /* #nav *::after{
      background-color: transparent!important;
  } */
  
  /* 一级菜单靠右10% */
  #nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    right: 10% !important;
    transform: translateX(0) !important;
  }
  #nav .menus_items .menus_item {
    padding: 0 0 0 8px !important;
  }
  
  /* 子菜单横向展示 */
  #nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
  }
  /* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
  .menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -95px;
  }
  .menus_items .menus_item:nth-child(3) .menus_item_child {
    left: -103px;
  }
  .menus_items .menus_item:nth-child(4) .menus_item_child {
    left: -102px;
  }
  .menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -117px;
  }
  .menus_items .menus_item:nth-child(6) .menus_item_child {
    left: -133px;
  }
  .menus_items .menus_item:nth-child(7) .menus_item_child {
    left: -105px;
  }
  
  /* 置顶滚动圆角 */
  .blog-slider__img img {
    border-radius: 20px !important;
  }
  
  /* 导航栏颜色 */
  #page-header.nav-fixed #nav {
    background: linear-gradient(60deg, #47a1eb 0, #c8f1ff 93%);
    opacity: 0.95;
    backdrop-filter: var(--backdrop-filter);
  }
  [data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
    background: var(--trans-dark);
  }
  
  /* 白天模式头图与页脚遮罩 */
  [data-theme="light"] #page-header:before,
  [data-theme="light"] #footer::before {
    background-color: rgba(0, 0, 0, 0.18) !important;
    z-index: -3;
  }
  
  /* 头图隐藏 */
  #page-header {
    background: transparent !important;
  }
  /* 夜间模式页脚遮罩隐藏 */
  [data-theme="dark"] #footer::before {
    background: transparent !important;
  }
  /* 夜间模式页脚头部遮罩隐藏 */
  [data-theme="dark"] #page-header::before {
    background: transparent !important;
  }
  
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
  }
  .read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
  
  /* 标题增强 */
  #site-name::before {
    opacity: 0;
    background-color: var(--theme-color) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100%;
    content: "\f015";
    box-shadow: 0 0 5px var(--theme-color);
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color: white;
    line-height: 34px; /*如果有溢出或者垂直不居中的现象微调一下这个参数*/
    font-size: 18px; /*根据个人喜好*/
  }
  #site-name:hover::before {
    opacity: 1;
    scale: 1.03;
  }
  #site-name {
    position: relative;
    font-size: 30px; /*一定要把字体调大点，否则效果惨不忍睹！*/
  }
