/* build time:Thu Sep 11 2025 03:19:31 GMT+0000 (Coordinated Universal Time)*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{background:var(--light_bg_color)}#aside-content .card-widget{background:var(--light_bg_color)}
/* rebuild by neat */